@model HotelsApp.ViewModels.ReservationViewModel
@{
    ViewBag.Title = "Reservation";
}
<style type="text/css">.btn-default { }</style>

<h2>Reseravation</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("AddReservation", "Home", FormMethod.Post))
            {
                <h4>Enter Studnet Details Info</h4>
                @Html.Hidden("id", Model.RoomId)
                <input type="time" name="start", id="start"/>
                <input type="time" name="end", id="end"/>
                <input type="submit" value="Add" class="btn btn-default"/>
            }
        </section>
        <br>
        @{
            if (Model.State != null)
            {
                <div>@Model.State</div>
            }
        }
    </div>
</div>

